<launch>

<group ns="robot_p">
  <!-- <include file="$(find robot_p)/launch/urdf.launch" /> -->

  <node pkg="robot_p" type="robot_control" name="robot_control" output="screen">
    <!-- full_speed: rad/s wheel speed on full PWM -->
    <rosparam>
       full_speed: 9.2363
       serial_port: "/dev/serial/by-id/usb-1a86_USB2.0-Serial-if00-port0"
       serial_baudrate: 57600
       controller_rate: 20
    </rosparam>
  </node>

  <rosparam command="load" file="$(find robot_p)/config/control.yaml" />

  <!-- <node name="controller_spawner" pkg="controller_manager" type="spawner"
        args=" robot_p_diff_drive_controller -\-shutdown-timeout 1" /> -->
  <remap from="/robot_p/robot_p_diff_drive_controller/cmd_vel" to="/cmd_vel"/>
</group>
</launch>
