<launch>
<group ns="robot_p">
<include file="$(find robot_p)/launch/urdf.launch" />

  <node pkg="robot_p" type="robot_control" name="robot_control" />

  <rosparam command="load" file="$(find robot_p)/config/control.yaml" />

  <node name="controller_spawner" pkg="controller_manager" type="spawner"
        args=" robot_p_diff_drive_controller --shutdown-timeout 1" />
</group>
</launch>
