<launch>
	<!-- rplidar laser -->
	<node name="rplidarNode"          pkg="rplidar_ros"  type="rplidarNode" output="screen">
		<param name="serial_port"         type="string" value="/dev/ttyUSB0"/>
		<param name="serial_baudrate"     type="int"    value="115200"/>
		<param name="frame_id"            type="string" value="laser"/>
		<param name="inverted"            type="bool"   value="false"/>
		<param name="angle_compensate"    type="bool"   value="true"/>
		<remap from="/scan" to="/scan_raw"/>
	</node>
	<!-- filtering of poles -->
	<node name="laser_filter" pkg="robot_p" type="laser" output="screen" />
	<!-- mapping -->
	<include file="$(find hector_mapping)/launch/mapping_default.launch">
		<arg name="base_frame" value="laser"/>
		<arg name="pub_map_odom_transform" value="false"/>
	</include>
</launch>
